[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-CommandsWithParameter=/usr/local/bin/st "%s"
Icon=st
Name=st
X-XFCE-Commands=/usr/local/bin/st

